<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>CoronaVirusTracker</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
	integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
	crossorigin="anonymous">
</head>
<body>
	<nav class="navbar navbar-dark bg-dark">
		<span class="navbar-brand mb-0 h1">CoronaVirus Tracker</span>
	</nav>
	<div class="container">
		<br />
		<div class="row">
			<div class="col-sm-3">
				<div class="card ">
					<div class="card-header text-white bg-danger mb-3">Total Cases Reported</div>
					<div class="card-body">
						<h5 class="card-text text-danger" th:text="${totalCases}"></h5>
					</div>
				</div>
			</div>
			<div class="col-sm-3">
				<div class="card ">
					<div class="card-header text-white bg-danger mb-3">New Cases Reported in 1 Day</div>
					<div class="card-body">
						<h5 class="card-text text-danger" th:text="${totalNewCases}"></h5>
					</div>
				</div>
			</div>
			 
			<div class="col-sm-3">
				<div class="card ">
					<div class="card-header text-white bg-success mb-3">Total Recovered</div>
					<div class="card-body">
						<h5 class="card-text text-success" th:text="${totalRecovered}"></h5>
					</div>
				</div>
			</div>
			 
			<div class="col-sm-3">
				<div class="card ">
					<div class="card-header text-white bg-danger mb-3">Total Deaths</div>
					<div class="card-body">
						<h5 class="card-text text-danger" th:text="${totalDeaths}"></h5>
					</div>
				</div>
			</div>
		</div>
		<br/>
		<table class="table table-striped table-bordered">
			<thead class="">
				<tr>
					<th class="table-dark">Country</th>
					<th class="table-dark">State</th>
					<th class="table-dark">Total Cases</th>
					<th class="table-dark">Changes Since Last Day</th>
					<!-- <th class="table-success">Total Recovered</th> -->
					<th class="table-danger">Total Deaths</th>
				</tr>
			</thead>
			<tr th:each="locationStat : ${locationStats}">
				<td th:text="${locationStat.country}"></td>
				<td th:text="${locationStat.state}"></td>
				<td th:text="${locationStat.totalCases}">0</td>
				<td th:text="${locationStat.diffFromPrevDay}">0</td>
				<!-- <td class="text-success" th:text="${locationStat.totalRecovered}">0</td> -->
				<td class="text-danger" th:text="${locationStat.totalDeaths}">0</td>
			</tr>
		</table>
	</div>

</body>

</html>